<template>
  <div class="Todo">
    <p v-bind:class="{ done: isDone }" role="button">{{text}}</p>
    <label>
      <input type="checkbox" v-model="isDone" v-on:change="onToggle" />
    </label>
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: {
    id: Number,
    text: String,
    done: Boolean
  },
  data: function () {
    return {
      isDone: this.done
    }
  },
  methods: {
    onToggle: function (e) {
      this.$emit('toggleTodo', {
        id: this.id,
        done: e.target.checked
      })
    }
  }
}
</script>

<style scoped lang="stylus">
.Todo
  display flex
  align-items center
  border-radius 4px
  &:hover
    background #4263eb
    p
      color #fff
  p
    flex 1
    padding 13px 30px
    margin 0
    color #111
  label
    flex 0 0 40px
    height 40px
    // padding 10px 0
    display flex
    justify-content center
    align-items center
    cursor pointer
    input
      cursor pointer
    &:hover
      background #364fc7

.done
  text-decoration line-through

</style>
