<template>
  <div class="Todos">
    <div class="Todos__Input">
      <input type="text"
        autofocus
        placeholder="Bişeyler yaz ve Enter la"
        v-model="todoText"
        @keyup.enter="addTodo" />
    </div>
    <div v-if="todos.length">
      <div v-for="item in todos" v-bind:key="item.id">
        <Todo v-bind="item" v-on:toggleTodo="toggleTodo" />
      </div>
    </div>
    <div class="Todos__Empty" v-else>:) Burası tertemiz</div>
  </div>
</template>

<script>
import Todo from './Todo.vue'

export default {
  name: 'Todos',
  components: {
    Todo
  },
  props: {
    todos: Array
  },
  data () {
    return {
      todoText: ''
    }
  },
  methods: {
    addTodo: function (e) {
      // App komponentine gönder
      this.$emit('addTodo', {
        id: Date.now(),
        text: e.target.value.trim(),
        done: false
      })
      // Temizle
      this.todoText = ''
    },
    toggleTodo: function (e) {
      // App komponentine gönder
      this.$emit('toggleTodo', e)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.Todos
  border-radius 8px
  border solid 1px #4263eb
  width 400px
  margin 0 auto
  padding 5px
  &__Input
    margin-bottom 10px
    input
      background #f1f3f5
      border-radius 4px
      width 100%
      padding 13px 10px
      outline-width 0
      transition all .2s ease
      &:focus
        background #e9ecef
  &__Empty
    text-align center
    padding 10px 0
</style>
