<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Todos :todos="todos" v-on:addTodo="addTodo" v-on:toggleTodo="toggleTodo" />
  </div>
</template>

<script>
import Todos from './components/Todos.vue'

export default {
  name: 'app',
  components: {
    Todos
  },
  computed: {
    todos () {
      return this.$store.state.todos
    }
  },
  methods: {
    addTodo (todo) {
      this.$store.commit('pushTodo', todo)
    },
    toggleTodo (todo) {
      this.$store.commit('toggleTodo', todo)
    }
  }
}
</script>
<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  margin-top 60px
  display flex
  flex-direction column
  justify-content center
  align-items center

</style>
